$green: #40b884;
$greenSecond: #41b885;
$primaryColor: #092143;
$textColor: #111;
$linkColor: #222222;
$black: #000;
$blackLighter: #090a0a;
$white: #ffffff;
$darkWhite: #eee;
$darkerWhite: #f5f5f5;
$darkerWhiteTwo: #f4f4f4;
$darkerWhiteThree: #f2f5fa;
$darkerWhiteFour: #f3f5f6;
$gray: #555555;
$grayLight: #444444;
$grayLightTwo: #666;
$baseColor: #333;
$shadow: #0000001a;
$orange: #f9a81a;
$redColor: #c65144; //#e95144;
$redLightColor: #ff708e;
$redBadge: #da3f3f;

$border: 1px solid #dddddd;
$borderTwo: 1px solid #6666661a;
$borderWhite: 1px solid $darkWhite;
$borderDarkerWhite: 1px solid $darkerWhite;
$borderBlack: 1px solid $black;
$borderBlue: 1px solid $primaryColor;
$boxShadow: 0 0 5px rgba(0, 0, 0, 0.3);

$transition2s: all 0.2s ease-in-out;
$transition3s: all 0.3s ease-in-out;
$transition4s: all 0.3s ease-in-out;

$font-bubble: 0.688rem; //11px
$font-xxs: 0.75rem; //12px
$font-xs: 0.813rem; //13px;
$font-sm: 0.875rem; //14px;
$font-ssm: 0.938rem;// 15px;
$font-md: 1rem; //16px;
$font-lg: 1.125rem; //18px;
$font-lg-big: 1.25rem; //20px;
$font-h2: 1.313rem;//21px;
$font-xl: 1.5rem; //24px;
$font-xl-plus: 1.563rem; //25px;
$font-xxl: 1.875rem; //30px;
// $font-xxl: 32px;
$font-xxxl: 2.5rem; //40px;
$font-xxxxl: 5rem; //80px;
