$green: #40b884;
$greenSecond: #41b885;
$primaryColor: #092143;
$textColor: #111;
$linkColor: #222222;
$black: #000;
$blackLighter: #090a0a;
$white: #fff;
$darkWhite: #eee;
$darkerWhite: #f5f5f5;
$darkerWhiteTwo: #f4f4f4;
$darkerWhiteThree: #f2f5fa;
$darkerWhiteFour: #f3f5f6;
$gray: #555555;
$grayLight: #444444;
$grayLightTwo: #666;
$baseColor: #333;
$shadow: #0000001a;
$orange: #f9a81a;
$redColor: #e95144;
$redLightColor: #ff708e;
$redBadge: #da3f3f;

$border: 1px solid #dddddd;
$borderTwo: 1px solid #6666661a;
$borderWhite: 1px solid $darkWhite;
$borderDarkerWhite: 1px solid $darkerWhite;
$borderBlack: 1px solid $black;
$borderBlue: 1px solid $primaryColor;
$boxShadow: 0 0 5px rgba(0, 0, 0, 0.3);

$transition2s: all 0.2s ease-in-out;
$transition3s: all 0.3s ease-in-out;
$transition4s: all 0.3s ease-in-out;

$font-bubble: 11px;
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-ssm: 15px;
$font-md: 16px;
$font-lg: 18px;
$font-lg-big: 20px;
$font-xl: 24px;
$font-xl-plus: 25px;
$font-xxl: 30px;
// $font-xxl: 32px;
$font-xxxl: 40px;
$font-xxxxl: 80px;
