<div>
  <button class="close-btn" (click)="closeMenu()">
    <i class="fa-sharp fa-solid fa-xmark" aria-hidden="true"></i><span class="sr-only">close sidebar</span>
  </button>
  <header>
    <h3>price</h3>
  </header>

  <div class="filter-price-container">
    <div class="price-range">
      <div>
        <label for="min-price" class="sr-only">minimum price</label>
        <input
          type="text"
          id="min-price"
          value="0"
          name="minPrice"
          [(ngModel)]="minPrice"
          (input)="onPriceFilter($event)"
        />
      </div>
      <span>-</span>
      <div>
        <label for="max-price" class="sr-only">maximum price</label>
        <input
          type="text"
          id="max-price"
          value="1200"
          name="maxPrice"
          [(ngModel)]="maxPrice"
          (input)="onPriceFilter($event)"
        />
      </div>
    </div>
    <div class="price-range-slide">
      <span
        class="range-value min-value"
        [style.width.px]="rangeValueStartWidth()"
      ></span>
      <label for="min-price-pointer" class="sr-only">minimum price</label>
      <input
        type="range"
        id="min-price-pointer"
        class="input-one"
        min="0"
        max="600"
        [(ngModel)]="rangeValueStart"
        step="50"
        (input)="onRangeChange($event, true)"
      />
      <span
        class="range-value max-value"
        [style.width.px]="rangeValueEndWidth()"
      ></span>
      <label for="max-price-pointer" class="sr-only">maximum price</label>
      <input
        type="range"
        id="max-price-pointer"
        class="input-two"
        min="600"
        max="1200"
        [(ngModel)]="rangeValueEnd"
        step="50"
        (input)="onRangeChange($event, false)"
      />
    </div>
  </div>
  <header>
    <h3>brand</h3>
    @if(numOfSelectedBrands > 0){
    <span>{{ numOfSelectedBrands }}</span>
    }
  </header>

  <ul class="filter-brand-container">
    @for(brand of brandsList; track brand){
    <li>
      <label>
        <input
          type="checkbox"
          id="{{brand}}"
          value="{{ brand }}"
          (change)="onBrandFilter($event, brand)"
        />{{ brand }}</label
      >
    </li>
    }
  </ul>
  <header>
    <h3>availability</h3>
  </header>
  <ul class="filter-availability-container">
    <li>
      <label for="out-stock"
        ><input type="checkbox" id="out-stock" />out of stock</label
      >
    </li>
    <li>
      <label for="in-stock"
        ><input type="checkbox" id="in-stock" />in stock</label
      >
    </li>
  </ul>
  <div class="img-container">
    <img src="assets/images/pexels-max-fischer-5869620.jpg" alt="A man carries bag that is written on a phrase 'Black Friday'" />
    <div></div>
  </div>
</div>
