<div>
  <button class="close-btn">X</button>
  <header>
    <h3>price</h3>
  </header>

  <div class="filter-price-container">
    <div class="price-range">
      <div><input type="text" value="0" /></div>
      <span>-</span>
      <div><input type="text" value="1200" /></div>
    </div>
    <div class="price-range-slide">
      <input type="range" />
    </div>
  </div>
  <header>
    <h3>brand</h3>
    <span>2</span>
  </header>

  <ul class="filter-brand-container">
    <li>
      <label for="novel"> <input type="checkbox" id="novel" />Novel</label>
    </li>
    <li>
      <label for="novel1"><input type="checkbox" id="novel1" />Novel</label>
    </li>
    <li>
      <label for="novel2"><input type="checkbox" id="novel2" />Novel</label>
    </li>
  </ul>
  <header>
    <h3>availability</h3>
  </header>
  <ul class="filter-availability-container">
    <li>
      <label for="out-stock"
        ><input type="checkbox" id="out-stock" />out of stock</label
      >
    </li>
    <li>
      <label for="novel2"><input type="checkbox" id="novel2" />Novel</label>
    </li>
  </ul>
  <div class="img-container">
    <img src="assets/images/pexels-max-fischer-5869620.jpg" alt="" />
    <div></div>
  </div>
</div>
