<header class="headers-container">
  <header class="top-header">
    <div class="availability">
      <span><i class="fa-regular fa-comment-dots"></i></span>
      <div>
        <p><b>expert support</b></p>
        <p>Available 24/7 via chat</p>
      </div>
    </div>
    <form class="search-input-container">
      <label for="search" class="sr-only">Search products</label> 
      <input
        type="text"
        id="search"
        name="searchTerm"
        (focus)="openSearchBox = true"
        (blur)="openSearchBox = false"
        [formControl]="searchedTerm"
      />
      <button type="button">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </button>
      @if(openSearchBox){
      <div tabindex="0"
        class="res-box"
      >
        @if(searchedTerm){ }@if(searchedProducts | async; as products){
        @if(products.length>0 ){
        <div class="suggestion">
          <p>Popular searches</p>
          <a href="">Smart TVs</a><a href="">Headphones</a>
        </div>
        <hr />
        <ul>
          @for(product of products; track product.id){
          <li><app-searched-product [product]="product" /></li>
          }
        </ul>
        <a href="" class="moreItems">
          See all results for "{{ searchedTerm.value }}"
          <span><i class="fa-solid fa-arrow-right"></i></span>
        </a>
        }@else{
        <p class="no-result">
          Your search for "{{ searchedTerm.value }}" did not yield any results.
        </p>
        } }@else{
        <div class="suggestion" [style.marginButtom]="true && '25px'">
          <p>Popular searches</p>
          <a routerLink="/shop/smart-watches">Smart Watches</a
          ><a routerLink="/shop/headphones">Headphones</a>
        </div>
        }
      </div>
      }
    </form>
    <div class="reverse">
      
        <button class="burger-menu" (click)="onOpenMenu()"><i class="fa-solid fa-bars"></i></button>
      

      <ul class="shortcut-icons">
        <li>
          <div class="account-btn" (click)="goToAccount()" role="button" tabindex="0" (keyup.enter)="goToAccount()"> 
            <span aria-hidden="true"><i class="fa-regular fa-user"></i></span>
            <p>account</p>
            <div class="user-container" [class.appear]="isOpenUserInfo">
              <span><i class="fa-solid fa-envelope"></i> {{currentUserEmail}}</span>
              <button type="button" (click)="logout()" class="logout-btn btn-main">logout</button>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="./orders">
            <span aria-hidden="true"><i class="fa-solid fa-clock-rotate-left"></i></span>
            <p>orders</p>
          </a>
        </li>
        <li>
          <a routerLink="/wishlist">
            <span aria-hidden="true"><i class="fa-regular fa-heart"></i></span>
            <p>wishlist</p>
          </a>
        </li>
        <li>
          <a class="cart-link" routerLink="/cart-menu">
            <span aria-hidden="true"><i class="fa-solid fa-cart-shopping"></i></span>
            @if(numOfProducts()>0){
            <b class="bubble">{{ numOfProducts() }}<span class="sr-only"> product in cart, go to</span></b>
            }
            <p>cart</p>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <app-navigation-bar />
  <app-wrapper
    [isOpen]="isOpen"
    component="menu"
    (closeEvent)="onCloseMenu($event)"
  >
    <app-menu />
  </app-wrapper>
</header>
