<header class="headers-container">
  <header class="top-header">
    <div class="availability">
      <span><i class="fa-regular fa-comment-dots"></i></span>
      <div>
        <p><b>expert support</b></p>
        <p>Available 24/7 via chat</p>
      </div>
    </div>
    <form class="search-input-container">
      <input
        type="text"
        placeholder="Search products"
        name="searchTerm"
        (focus)="openSearchBox = true"
        (blur)="openSearchBox = false"
        [formControl]="searchedTerm"
      />
      <button type="button">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </button>
      <div
        class="res-box"
        [style.display]="openSearchBox === true ? 'block' : 'none'"
      >
        @if(searchedTerm){ }@if(searchedProducts | async; as products){
        @if(products.length>0 ){
        <div class="suggestion">
          <p>Popular searches</p>
          <a href="">Smart TVs</a><a href="">Headphones</a>
        </div>
        <hr />
        <ul>
          @for(product of products; track product.id){
          <li><app-searched-product [product]="product" /></li>
          }
        </ul>
        <a href="" class="moreItems">
          See all results for "{{ searchedTerm.value }}"
          <span><i class="fa-solid fa-arrow-right"></i></span>
        </a>
        }@else{
        <p class="no-result">
          Your search for "{{ searchedTerm.value }}" did not yield any results.
        </p>
        } }@else{
        <div class="suggestion" [style.marginButtom]="true && '25px'">
          <p>Popular searches</p>
          <a routerLink="/shop/smart-watches">Smart Watches</a
          ><a routerLink="/shop/headphones">Headphones</a>
        </div>
        }
      </div>
    </form>
    <div class="reverse">
      <div class="burger-menu">
        <span (click)="onOpenMenu()"><i class="fa-solid fa-bars"></i></span>
      </div>

      <div class="shortcut-icons">
        <a routerLink="./auth">
          <span><i class="fa-regular fa-user"></i></span>
          <p>account</p>
        </a>
        <a routerLink="./orders">
          <span><i class="fa-solid fa-clock-rotate-left"></i></span>
          <p>orders</p>
        </a>
        <a routerLink="/wishlist">
          <span><i class="fa-regular fa-heart"></i></span>
          <p>wishlist</p>
        </a>
        <a class="cart-link" routerLink="/cart-menu">
          <span><i class="fa-solid fa-cart-shopping"></i></span>
          @if(numOfProducts()>0){
          <b class="bubble">{{ numOfProducts() }}</b>
          }
          <p>cart</p>
        </a>
      </div>
    </div>
  </header>
  <app-navigation-bar />
  <app-wrapper
    [isOpen]="isOpen"
    component="menu"
    (closeEvent)="onCloseMenu($event)"
  >
    <app-menu />
  </app-wrapper>
</header>
