<app-wrapper component="cart">
  <section id="cart-page">
    <header
      [style.justify-content]="
        productsInCart().length > 0 ? 'space-between' : 'flex-end'
      "
    >
      @if(productsInCart().length>0){
      <h2>
        Your Cart (<span>{{ productsInCart().length }}</span
        >)
      </h2>
      }

      <a class="close-btn" routerLink="../"
        ><i class="fa-solid fa-xmark"></i
      ></a>
    </header>
    @if(productsInCart().length>0){
    <div class="cart-content">
      <div class="shipping-container">
        <app-shipping [addEstimatedDelivery]="false" />
      </div>
      <ul>
        @for(product of productsInCart(); track product.id){
        <li>
          <app-product-snapshot [product]="product" />
        </li>
        }
      </ul>
      <div class="drawer-icons-container">
        <a><i class="fa-solid fa-file-lines"></i></a>
        <a><i class="fa-solid fa-tag"></i></a>
        <a><i class="fa-solid fa-gift"></i></a>
      </div>
      <div class="cart-total">
        <h2>Total</h2>
        <span>{{ totalPriceOfAllProducts() | currency }} USD</span>
      </div>
      <p>Tax included. <span>Shipping</span> calculated at checkout.</p>
      <a class="btn-main btn-buy">buy it now</a>
      <a class="btn-main btn-cart">view in cart</a>
    </div>
    }@else{
    <div class="empty-cart-container">
      <div>
        <span class="icon">##</span>
        <p>No Products in the Cart</p>
        <a routerLink="../" class="continue-shopping">continue shopping</a>
        <div><b>Have an account?</b></div>
        <p><a href="">Log in</a> to checkout faster</p>
      </div>
    </div>
    }
  </section>
</app-wrapper>
