@import "../../styles/variables";
#cart-page {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999999999;
    width: 450px !important;
    padding: 20px 0;
    background-color: $white;
    width: 100%;
    h2 {
      line-height: 1;
      color: $grayLightTwo;
      font-size: $font-ssm;
    }
    .close-btn {
      display: block;
      height: 16px;
      width: 16px;
      color: $grayLightTwo;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .cart-content {
    padding-top: 60px;
    .shipping-container {
      font-size: $font-bubble !important;
      text-transform: uppercase;
      text-align: center;
      padding: 15px 20px;
      background-color: #6666660a;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      li {
        &:not(:first-child) {
          border-top: $borderDarkerWhite;
        }
      }
    }
    .drawer-icons-container {
      display: flex;
      justify-content: space-between;
      a {
        display: block;
        background-color: $darkerWhite;
        color: $textColor;
        padding: 15px;
        flex-grow: 1;
        text-align: center;
        margin: 0 15px;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .cart-total {
      padding: 15px 0;
      border-top: $borderDarkerWhite;
      margin-top: 10px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;
      color: $grayLightTwo;

      h2 {
        font-size: $font-ssm;
        line-height: 1;
      }
    }
    p {
      font-size: $font-bubble;
      margin-bottom: 15px;
      span {
        color: $baseColor;
      }
    }
    .btn-main {
      padding: 14px 30px;
      height: fit-content !important;
    }
    .btn-buy {
      background-color: $green;
      margin-bottom: 10px;
      &:hover {
        background-color: transparent;
        color: $green;
      }
    }
    .btn-cart {
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      margin-bottom: 30px;
      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
    }
  }
  .empty-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $grayLightTwo;
    height: 100%;
    //   margin-top: -60px;
    .icon {
      display: block;
      margin: 0 auto 20px;
      width: 60px;
      height: 60px;
      opacity: 0.2;
    }
    p {
      margin-bottom: 25px;
    }
    .continue-shopping {
      text-transform: uppercase;
      font-size: $font-xs;
      font-weight: 400;
      padding: 12px 25px;
      line-height: 1;
      border: 0;
      color: $white;
      border-radius: 4px;
      display: block;
      text-align: center;
      transition: $transition3s;
      cursor: pointer;
      text-decoration: none;
      background-color: $primaryColor;
      border: $borderBlue;
      margin-bottom: 50px;
      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
      div {
        font-weight: 500;
        font-size: $font-ssm;
      }
      p:last-child {
        a {
          color: $baseColor;
        }
      }
    }
  }
}
