<section id="shop-by-categories">
  <div>
    <h2 class="section-title">shop by categories</h2>
    <div class="swiper-container">
      <div #swiper class="swiper">
        @for(category of allCategories; track category.value){
        <div href="" class="category-card">
          <a
            [routerLink]="['/shop', category.value]"
            class="category-img-container"
          >
            <img
              src="assets/images/categories/{{ category.imgSrc }}"
              alt="{{ category.name }}"
            />
          </a>
          <h3>{{ category.name }}</h3>
        </div>
        }
      </div>
      <span class="btn prev-btn" id="prev" (click)="scroll('prev')">
        <i class="fa-solid fa-chevron-left"></i>
      </span>
      <span class="btn next-btn" id="next" (click)="scroll('next')">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>
  </div>
</section>
