@import "../../styles/variables";
.amount {
  display: flex;
  width: fit-content;
  border: $border;
  border-radius: 4px;
  overflow: hidden;
  height: 38px;
  margin-bottom: 15px;
  color: $black;
  font-size: $font-sm;
  button,
  input {
    width: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
  }
  button {
    cursor: pointer;
  }
  input {
    border-left: $border;
    border-right: $border;
    width: 60px;
    text-align: center;
  }
  &.small {
    border: $borderTwo;
    height: 32px;
    margin-bottom: 5px;
    input {
      border-left: $borderTwo;
      border-right: $borderTwo;
      width: 32px;
    }
    button {
      width: 32px;
      font-size: $font-xs;
    }
  }
}
