<h2>Register</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    @if(errorMsg){
        <div class="error"><i class="fa-solid fa-xmark"></i> {{errorMsg}}</div>
    }
    <input type="email" id="email" placeholder="email" formControlName = "email" required>
    <input type="password" id="password" placeholder="password" formControlName = "password" required minlength="8">

    <button type="submit" [disabled]="!form.valid" class="btn-main">
        <!-- <div [appLoader]="isLoading()" [isButton]="true">
            <div class="text">Login</div>
        </div> -->
        register
    </button>
</form>
