<section
  id="quick-view-window"
  [style.grid-template-columns]="isExpanded && 'repeat(2, auto)'"
>
  <a
    class="close-btn"
    routerLink="../../"
    [style.display]="!isExpanded ? 'block' : 'none'"
    ><i class="fa-solid fa-xmark"></i
  ></a>
  <div class="img-container">
    <!-- <img src="assets/images/products/pexels-sound-on-3394648.jpg" alt="" /> -->
    <img src="assets/images/products/{{ product.imgSrc }}" alt="" />
    @if(product.discount){
    <span>Sale</span>
    }
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="hidden"
        name="product-id"
        [value]="product.id"
        formControlName="productId"
      />
      <a href="" class="brand">{{ product.brand }}</a>
      <h2 [style.font-size]="isExpanded && '30px'">{{ product.title }}</h2>
      <div class="price-container">
        @if(product.newPrice){
        <span class="new-price" [style.font-size]="isExpanded && '25px'">{{
          product.newPrice | currency
        }}</span>
        }
        <span
          class="origin-price"
          [class.old]="product.newPrice"
          [style.font-size]="isExpanded && '19px'"
        >
          {{ product.originPrice | currency }}</span
        >
        @if(product.discount){
        <span class="saleBadge" [style.display]="isExpanded ? 'block' : 'none'"
          >Save {{ product.originPrice - product.newPrice! | currency }}</span
        >
        }
      </div>
      <p>
        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices
        consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed
        platea malesuada eget vestibulum.
      </p>
      <ng-content select="label" />
      <div class="amount-wishlist-container">
        <!-- <div class="amount">
          <button type="button">
            <i class="fa-solid fa-minus" (click)="incrementAmount()"></i>
          </button>
          <input
            type="text"
            [value]="amountCurrent"
            name="amount"
            #productAmount
          />
          <button type="button">
            <i class="fa-solid fa-plus" (click)="decrementAmount()"></i>
          </button>
        </div> -->
        <app-product-amount
          [product]="product"
          (productAmountChange)="handleProductAmountChange($event)"
        />
        <div class="add-wishlist">
          <span
            ><span><i class="fa-regular fa-heart"></i></span> Add to
            Wishlist</span
          >
          <span [style.display]="isExpanded ? 'block' : 'none'"
            ><span><i class="fa-regular fa-circle-question"></i></span> Ask A
            Question</span
          >
        </div>
      </div>
      <button type="submit" class="btn-main btn-cart" [appLoader]="isLoading">
        <div>
          <span>add to cart</span>
        </div>
      </button>

      <a
        [routerLink]="['../../products', product.id]"
        [style.display]="!isExpanded ? 'block' : 'none'"
        class="view"
        >view more details <span><i class="fa-solid fa-arrow-right"></i></span
      ></a>
      <ng-content />
    </form>
  </div>
</section>
