@import "../../styles/variables";
#quick-view-window {
  display: grid;
  gap: 30px;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  background-color: $white;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: $baseColor;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
  .img-container {
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $redLightColor;
      color: $white;
      font-size: $font-xxs;
      padding: 0 10px;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
      border-radius: 15px;
    }
    img {
      width: 50%;
      display: block;
      margin: auto;
      @media (min-width: 768px){
         width: 100%;
      }
    }
  }
  form {
    max-width: 560px;
    .brand {
      display: block;
      margin-bottom: 5px;
      font-size: $font-sm;
      text-decoration: none;
      color: $textColor;
      width: fit-content;
      text-transform: capitalize;
      &:hover {
        color: $green;
      }
    }
    h2 {
      margin-bottom: 15px;
      font-size: $font-md;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
    .price-container {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 500;
      .new-price {
        color: $redColor;
        font-size: $font-lg;
      }
      .origin-price {
        font-size: $font-lg;
        &.old {
          text-decoration: line-through;
          opacity: 0.6;
          font-size: $font-md;
        }
      }
      .saleBadge {
        letter-spacing: normal;
        background: $redBadge;
        color: $white;
        padding: 4px 8px;
        border-radius: 3px;
        line-height: normal;
      }
    }
    p {
      margin: 20px 0 15px;
    }
    label {
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }
    .amount-wishlist-container {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .add-wishlist {
        color: $baseColor;
        margin-bottom: 15px;
        @media (min-width: 1024px) {
          display: flex;
          gap: 15px;
          margin-bottom: 0;
        }
      }
    }
    .btn-cart {
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
    }
    a.view {
      text-decoration: none;
      color: $textColor;
      font-weight: 400;
      font-size: $font-sm;
      line-height: 1.2;
      font-weight: 400;
      padding: 0 0 3px;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      transition: $transition3s;
      display: block;
      width: fit-content;
      margin: 0 auto;
      &:hover,
      &:active {
        color: $green;
      }
    }
  }
}
