@import "../styles/variables";
@import "../styles/mixins";

#wishlist {
  @include page-x;
  @include padding-y(30px);
  h1 {
    font-size: $font-xl-plus;
    color: $linkColor;
    text-align: center;
    margin-bottom: 30px;
  }
  .products-in-wishlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (min-width: 768px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px){
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .no-products {
    padding: 125px 30px;
    p {
      margin-bottom: 25px;
      text-align: center;
      color: $baseColor;
    }
    .back-to-home {
      text-transform: uppercase;
      font-size: $font-xs;
      font-weight: 400;
      padding: 12px 25px;
      line-height: 1;
      color: $white;
      border-radius: 4px;
      display: block;
      text-align: center;
      transition: $transition3s;
      cursor: pointer;
      text-decoration: none;
      background-color: $primaryColor;
      border: $borderBlue;
      margin: 0 auto 10px;
      width: fit-content;
      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
    }
  }
}
