@import "../../styles/variables";
.menu-container {
  .menu-options-container {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    a {
      width: 50%;
      font-size: $font-sm;
      padding: 10px;
      text-align: center;
      background-color: $textColor;
      color: $white;
      cursor: pointer;
      text-transform: uppercase;
      &.active {
        background-color: $white;
        color: $textColor;
      }
    }
  }
  .category-items {
    list-style: none;
    padding: 13px 0;
    margin-top: 1px;
    background-color: $white;
    border-radius: 0 0 6px 6px;
    transition: $transition3s;
    li {
      a {
        text-decoration: none;
        color: $gray;
        font-size: $font-sm;
        font-weight: 500;
        padding: 8px 20px 8px 25px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        span {
          font-size: $font-lg-big;
          margin-right: 15px;
          width: 30px;
        }
        &:hover {
          color: $green;
        }
        &.active-category {
          color: $green;
        }
      }
    }
  }
  .nav-items {
    list-style: none;
    padding: 13px 0;
    margin-top: 1px;
    background-color: $white;
    a {
      display: block;
      text-decoration: none;
      color: $linkColor;
      font-size: $font-sm;
      font-weight: 500;
      text-transform: uppercase;
      padding: 15px 15px;
      white-space: nowrap;
      &:hover {
        color: $green;
      }
      &.active-page-link {
        color: $green;
      }
    }
  }
}
