<div class="menu-container">
  <div class="menu-options-container">
    <a class="menu" (click)="onSelectItem('menu')" [class.active]="selectedItem === 'menu'"
      >menu</a
    >
    <a class="categories"
      (click)="onSelectItem('categories')"
      [class.active]="selectedItem === 'categories'"
    >
      categories
    </a>
  </div>
  <nav>
    <div>
      @if(selectedItem ==='menu'){
      <ul class="nav-items">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active-page-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="/shop/featured" routerLinkActive="active-page-link"
            >Shop</a
          >
        </li>
      </ul>
      }@else{
      <ul class="category-items">
        @for(category of allCategories; track category.value){
        <li>
          <a
            [routerLink]="['/shop', category.value]"
            routerLinkActive="active-category"
            ><span><i [class]="category.icon"></i></span>{{ category.name }}</a
          >
        </li>
        }
      </ul>
      }
    </div>
  </nav>
</div>
