@import "../../styles/variables";
#quick-view-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  .background {
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .quick-view-container {
    max-width: 900px;
  }
}
