.product {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  > div:first-child {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  > div:last-child {
    color: #666;
    flex-grow: 1;
    a {
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: fit-content;
      margin-bottom: 18px;
      color: #666;
      h3 {
        font-size: 13px;
        font-weight: 400;
      }
    }
    .price-or-loader-container {
      margin-bottom: 8px;
      .price {
        display: block;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .amount-delete-container {
      display: flex;
      align-items: center;
      .delete-icon {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}
