@import "../../styles/variables";
.spent-time {
  color: $baseColor;
  .uppercase {
    text-transform: uppercase;
  }
}
.shipBar {
  height: 7px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: $darkWhite;
  margin: 10px 0 15px;
}
