@let amount = 1; @if(product){
<figure>
  <span
    class="delete-from-wishlist card-btn"
    [style.display]="inWishlist ? 'block' : 'none'"
    (click)="deleteFromWishlist()"
    ><i class="fa-solid fa-xmark"></i
  ></span>
  <div>
    <img src="assets/images/products/{{ product.imgSrc }}" alt="" />
    <div class="icons-container">
      <button
        class="add-wishlist-btn card-btn"
        [style.display]="inWishlist ? 'none' : 'block'"
        (click)="addToWishlist()"
      >
        <i class="fa-solid fa-heart"></i>
      </button>

      <button
        class="add-to-cart-btn card-btn"
        routerLink="/cart-menu"
        (click)="addProductToCart(amount)"
      >
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <a class="card-btn" [routerLink]="['quick-view', product.id]"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </div>
  </div>
  <figcaption>
    <a>{{ product.title }}</a>
    <span class="origin-price" [class.old]="product.newPrice">{{
      product.originPrice | currency
    }}</span>
    @if(product.newPrice){
    <span class="new-price">{{ product.newPrice | currency }}</span>
    } @if(product.discount){
    <span class="discount"
      >-{{ product.discount / 100 | percent : "1.0-0" }}</span
    >
    }
  </figcaption>
</figure>
}
