@if(product){

<figure>
  <span
    class="delete-from-wishlist"
    [style.display]="inWishlist ? 'block' : 'none'"
    (click)="deleteFromWishlist()"
    >##</span
  >
  <div>
    <img src="assets/images/products/{{ product.imgSrc }}" alt="" />
    <div class="icons-container">
      <button
        [style.display]="inWishlist ? 'none' : 'block'"
        (click)="addToWishlist()"
      >
        🤍
      </button>

      <a routerLink="/cart-menu">##</a>
      <a [routerLink]="['quick-view', product.id]">##</a>
      <!-- <article>
        <app-quick-view-window />
      </article> -->
    </div>
  </div>
  <figcaption>
    <a>{{ product.title }}</a>
    <span class="origin-price" [class.old]="product.newPrice">{{
      product.originPrice | currency
    }}</span>
    @if(product.newPrice){
    <span class="new-price">{{ product.newPrice | currency }}</span>
    } @if(product.discount){
    <span class="discount"
      >-{{ product.discount / 100 | percent : "1.0-0" }}</span
    >
    }
  </figcaption>
</figure>
}
