@import "../../styles/variables";
figure {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  border: 1px solid $darkWhite;
  transition: $transition3s;
  background-color: $white;
  padding: 5px;
  border-radius: 8px;
  .delete-from-wishlist {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    cursor: pointer;
    color: $white;
    line-height: 36px;
    height: 40px;
    min-width: 40px;
    background-color: $primaryColor;
    border-radius: 20px;
    transition: $transition3s;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    i {
      vertical-align: middle;
    }
    &:hover,
    &:active {
      background-color: $green;
    }
  }
  div {
    // width: 246px;
    height: 246px;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  figcaption {
    padding: 0 10px 10px;
    a {
      display: block;
      cursor: pointer;
      transition: $transition3s;
      font-size: $font-xs;
      width: fit-content;
      margin: 7px auto;
      &:hover,
      &:active {
        color: $green;
      }
    }
    .origin-price {
      font-weight: 400;
      color: $blackLighter;
      font-size: $font-sm;
      font-weight: 600;
      &.old {
        text-decoration: line-through;
        opacity: 0.6;
        font-weight: 400;
      }
    }
    .new-price {
      margin-left: 4px;
      color: $redColor;
      font-size: $font-sm;
      font-weight: 600;
      display: inline-block;
    }
    .discount {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: $redLightColor;
      color: $white;
      font-size: $font-xxs;
      padding: 0 10px;
      letter-spacing: 0;
      line-height: 22px;
      border-radius: 15px;
    }
  }
  .icons-container {
    position: absolute;
    display: flex;
    z-index: 444;
    transition: $transition3s;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    a,
    button {
      display: block;
      cursor: pointer;
      color: $white;
      margin: 3px;
      line-height: 38px;
      height: 40px;
      min-width: 40px;
      background-color: $primaryColor;
      border-radius: 20px;
      transition: $transition3s;
      visibility: hidden;
      opacity: 0;
      text-decoration: none;
      border: 0;
      i {
        vertical-align: middle;
      }
      &:hover,
      &:active {
        background-color: $green;
      }
    }
  }
  &:hover {
    .icons-container {
      bottom: 10px;
      a,
      button {
        visibility: visible;
        opacity: 1;
      }
    }
    .delete-from-wishlist {
      visibility: visible;
      opacity: 1;
    }
  }
}

// article {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 99999;
//   display: none;
//   min-height: 100vh;
// }
