<nav>
  <div>
    <div class="browse-categories">
      <span><i class="fa-solid fa-bars"></i></span>
      BROWSE CATEGORIES
      <span class="down-arrow"><i class="fa-solid fa-angle-down"></i></span>
      <ul class="category-items">
        @for(category of allCategories; track category.value){
        <li>
          <a
            [routerLink]="['/shop', category.value]"
            routerLinkActive="active-category"
            ><span><i [class]="category.icon"></i></span>{{ category.name }}</a
          >
        </li>
        }
      </ul>
    </div>
    <ul class="nav-items">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active-page-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/shop/featured" routerLinkActive="active-page-link"
          >Shop</a
        >
      </li>
    </ul>
  </div>
</nav>
