@import "../../styles/variables";
div {
  background-color: $darkerWhiteFour;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: $font-xs;
  color: $textColor;
  padding: 10px 0px;
  a {
    text-decoration: none;
    color: $textColor;
    cursor: pointer;
  }
}
