@import "../../styles/variables";
@import "../../styles/mixins";

.tab-container {
  background-color: $darkerWhiteFour;
  color: $textColor;
  div {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: $font-xs;

    @include page-x;
    @include padding-y(10px);
    a {
      text-decoration: none;
      color: $textColor;
      cursor: pointer;
    }
    i {
      font-size: $font-xxs;
    }
  }
}
