<div class="img-container">
  <h1>{{ currentCategoryName() }}<span class="sr-only"> shop now</span></h1>
</div>
<app-top-tab [itemRecieved]="currentCategoryName()" />
<section id="shop">
  <div>
    <app-wrapper [isOpen]="isOpen" component="sidebar">
      <app-sidebar
        (closeEvent)="onToggle()"
        [brandsList]="selectedCategoryBrands()"
        (filterByBrand)="filterProductsByBrand($event)"
        (filterByPrice)="handlePriceFilter($event)"
      ></app-sidebar>
    </app-wrapper>

    <div class="right-side-container">
      <h2>{{ currentCategoryName() }}</h2>
      <div class="filteration-container">
        <button class="filter-btn" (click)="onToggle()">
          <span><i class="fa-solid fa-filter"></i></span> filter
        </button>
        <span class="num-of-items"
          ><span>{{ productsLength() }}</span> items</span
        >
        <label for="sort-by" class="sr-only">sort the products</label>
        <select id="sort-by" (change)="onFilter($event)">
          <option value="featured">Featured</option>
          <option value="best-selling">Best selling</option>
          <option value="alpha-asc">Alphabetically, A-Z</option>
          <option value="alpha-desc">Alphabetically, Z-A</option>
          <option value="price-asc">Price, low to high</option>
          <option value="price-desc">Price, high to low</option>
          <option value="date-asc">Date, old to new</option>
          <option value="date-desc">Date, new to old</option>
        </select>
      </div>
      <div class="chosen-filters-container">
        @for(brand of checkedBrands(); track brand){
        <div class="chosen-filter">{{ brand }}</div>
        }
      </div>
      @if(products().length > 0){
      <ul class="products-in-shop">
        @for(product of products(); track product.id){
          <li>
            <app-product-card [product]="product" />
          </li>
        }
      </ul>
      }@else{
      <div class="empty-products">
        <h3>no products found</h3>
        <p>use fewer filter or clear all</p>
      </div>
      }
    </div>
  </div>
</section>
