<div class="img-container">
  <h1>digital top seler</h1>
</div>
<app-top-tab itemRecieved="Digital top seller" />
<section id="shop">
  <div class="background" [style.width]="isOpen && '100%'"></div>
  <aside [style.transform]="isOpen && 'translate(0)'">
    <app-sidebar />
  </aside>
  <div>
    <h2>digital top seller</h2>
    <div class="filteration-container">
      <button class="filter-btn" (click)="onToggle()">
        <span>##</span> filter
      </button>
      <span class="num-of-items"><span>11</span> items</span>
      <select>
        <option value="featured">Featured</option>
        <option value="best-selling">Best selling</option>
        <option value="alpha-desc">Alphabetically, A-Z</option>
        <option value="alpha-asc">Alphabetically, Z-A</option>
        <option value="featured">Price, low to high</option>
        <option value="featured">Price, high to low</option>
        <option value="featured">Date, old to new</option>
        <option value="featured">Date, new to old</option>
      </select>
    </div>
    <div class="products-in-shop">
      @for(product of products; track product.id){
      <app-product-card [product]="product" />
      }
    </div>
  </div>
</section>
