@import "../styles/variables";
@import "../styles/mixins";

#banner {
  width: 100%;
  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .swipper-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    @media (min-width: 768px) {
      height: 450px;
    }
    @media (min-width: 1024px) {
      height: 700px;
    }
    .slide {
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 24%;
      color: $white;
      .content {
        max-width: 500px;
        text-align: center;
        span {
          color: $orange;
          text-transform: uppercase;
          font-size: $font-sm;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 5px;
          @media (min-width: 768px) {
            font-size: 20px;
          }
        }
        h1, h2 {
          // font-size: 30px;
          // margin-bottom: 20px;
          line-height: 1.3;
          word-wrap: break-word;
          text-transform: capitalize;
          // @media (min-width: 768px) {
          //   font-size: 80px;
          // }
        }
        p {
          font-size: $font-lg;
          @media (min-width: 768px) {
            font-size: $font-xl;
          }
        }
        a {
          display: inline-block;
          padding: 12px 25px;
          background-color: $green;
          @media (min-width: 768px) {
            padding: 16px 40px;
            font-size: 15px;
          }
          &:hover {
            color: $green;
            background-color: $white;
            border-color: $white;
          }
        }
      }

      &.slide-1 {
        background-image: url("/assets/images/pexels-pavel-danilyuk-8001236.jpg");
        .overlay {
          background-color: rgba(9, 33, 67, 0.3);
          justify-content: flex-end;
        }
        .content {
          margin-right: 20%;
          h1 {
            font-size: $font-xxxl;
            @media (min-width: 768px) {
              font-size: $font-xxxxl;
            }
          }
          p {
            margin-bottom: 15px;
            @media (min-width: 768px) {
              margin-bottom: 24px;
            }
          }
        }
      }
      &.slide-2 {
        background-image: url("/assets/images/pexels-jakubzerdzicki-28850990.jpg");
        .overlay {
          background-color: rgba(9, 33, 67, 0.7);
          justify-content: center;
        }
        .content {
          h2{
            font-size: $font-xxl;
            @media (min-width: 768px) {
              margin-bottom: 20px;
              font-size: $font-xxxxl;
            }
          }
          p {
            margin-bottom: 15px;
            @media (min-width: 768px) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    .swipper-btn {
      position: absolute;
      width: 60px;
      height: 60px;
      opacity: 0;
      color: $primaryColor;
      background-color: $white;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      z-index: 10;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: $transition3s;
      @media (min-width: 768px) {
        display: flex;
      }
      &.prev-btn {
        left: 30px;
      }
      &.next-btn {
        right: 30px;
      }
      &:hover {
        opacity: 1 !important;
      }
    }
    &:hover {
      .swipper-btn {
        opacity: 0.6;
      }
    }
    .swipper-bullets {
      position: absolute;
      text-align: center;
      transition: 0.3s opacity;
      transform: translateZ(0);
      z-index: 10;
      width: 100%;
      bottom: 0;
      @media (min-width: 768px) {
        bottom: -35px;
      }
      button {
        width: 25px;
        height: 35px;
        display: inline-block;
        text-align: center;
        opacity: 0.5;
        background-color: transparent;
        cursor: pointer;
        &::before {
          height: 5px;
          background-color: $white;
          content: "";
          display: inline-block;
          width: 15px;
        }
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
#best-seller {
  @include page-x;
  @include padding-y(60px);
  display: grid;
  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1400px) {
    padding: 60px;
  }
  a.offer {
    border: $borderBlack;
    color: $black;
    font-size: $font-xs;
    line-height: 1;
    border-radius: 4px;
    text-decoration: none;
    padding: 12px 25px;
    text-transform: uppercase;
    width: fit-content;
    display: inline-block;
    transition: $transition3s;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  ul {
    display: none;
    @media (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

#new-products {
  background-color: $darkerWhiteThree;
  > div {
    @include page-x;
    @include padding-y(60px);
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    .view-all-btn {
      padding: 14px 30px;
      background-color: $primaryColor;
      border: $borderBlue;
      margin: 50px auto 0;
      width: fit-content;
      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
    }
  }
}
