<section id="banner">
  <div class="swipper-container">
    <span class="swipper-btn prev-btn" (click)="onToggleSlide()"
      ><i class="fa-solid fa-chevron-left"></i
    ></span>
    @if(currentSlide() === 1){
    <div class="slide slide-1">
      <div class="overlay">
        <div class="content">
          <span>starting from $50</span>
          <h3>headphones</h3>
          <p>Feel The Bass in Your Bones</p>
          <a routerLink="/shop/featured">Shop Now</a>
        </div>
      </div>
    </div>
    }@else{
    <div class="slide slide-2">
      <div class="overlay">
        <div class="content">
          <h3>ultra smart OLED TVs</h3>
          <p>with High Resolution Quality and Infinit Detail.</p>
          <a routerLink="/shop/featured">Shop Now</a>
        </div>
      </div>
    </div>
    }
    <span class="swipper-btn next-btn" (click)="onToggleSlide()"
      ><i class="fa-solid fa-chevron-right"></i
    ></span>
    <div class="swipper-bullets">
      <span
        (click)="onToggleSlide()"
        [class.active]="currentSlide() === 1"
      ></span>
      <span
        (click)="onToggleSlide()"
        [class.active]="currentSlide() === 2"
      ></span>
    </div>
  </div>
</section>

@defer (on viewport){
<section id="best-seller">
  <app-best-seller-card
    [isBig]="true"
    imgSrc="pexels-jessbaileydesign-788946.jpg"
    title="Galaxy S22 Ultra"
    desc="Make nights epic with"
  >
    <a href="" class="offer">get 10% offer</a>
  </app-best-seller-card>
  <div>
    <app-best-seller-card
      imgSrc="pexels-maria-mileta-3563033-15394136.jpg"
      title="Projectors"
      desc="4K Ultra HD with 8 million pixels"
    />

    <app-best-seller-card
      imgSrc="pexels-martin_poland-1175242-15684881.jpg"
      title="Soundbars"
      desc="With Wireless Subwoofer for Extra Deep Bass"
    />
    <app-best-seller-card
      imgSrc="pexels-paulseling-20385203.jpg"
      title="video game"
      desc="Flat 25% Off On Children's Day"
    />
    <app-best-seller-card
      imgSrc="pexels-samed-bayrak-2518016-9546248.jpg"
      title="Bluetooth Speaker"
      desc="Feather light, ultra-portable grab-and-go design"
    />
  </div>
</section>
}@placeholder{
<p>best seller</p>
} @defer (on viewport){
<section id="new-products">
  <div>
    <h2 class="section-title">New products</h2>
    <div class="products">
      @for(product of products(); track product.id){
      <app-product-card [product]="product" />
      }
    </div>
    <a href="" class="view-all-btn">view all</a>
  </div>
</section>
} @placeholder{
<p>new products</p>
} @defer (on viewport){
<app-category-swiper />
}@placeholder{
<p>category swiper</p>
}

<router-outlet />
