<section id="banner">
  <div class="swipper-container">
    <button class="swipper-btn prev-btn" (click)="onToggleSlide()"
      ><i class="fa-solid fa-chevron-left"></i
    ><span class="sr-only">previous slide</span></button>
    @if(currentSlide() === 1){
    <div class="slide slide-1">
      <div class="overlay">
        <div class="content">
          <span>starting from $50</span>
          <h1>headphones</h1>
          <p>Feel The Bass in Your Bones</p>
          <a routerLink="/shop/featured" class="btn-main">Shop Now</a>
        </div>
      </div>
    </div>
    }@else{
    <div class="slide slide-2">
      <div class="overlay">
        <div class="content">
          <h2>ultra smart OLED TVs</h2>
          <p>with High Resolution Quality and Infinit Detail.</p>
          <a routerLink="/shop/featured" class="btn-main">Shop Now</a>
        </div>
      </div>
    </div>
    }
    <button class="swipper-btn next-btn" (click)="onToggleSlide()"
      ><i class="fa-solid fa-chevron-right"></i
    ><span class="sr-only">next slide</span></button>
    <div class="swipper-bullets">
      <button
        (click)="onToggleSlide()"
        [class.active]="currentSlide() === 1"
      ></button>
      <button
        (click)="onToggleSlide()"
        [class.active]="currentSlide() === 2"
      ></button>
    </div>
  </div>
</section>

@defer (on viewport){
<section id="best-seller">
  <h2 class="sr-only">best seller products</h2>
  <app-best-seller-card
    [isBig]="true"
    imgSrc="pexels-jessbaileydesign-788946.jpg"
    title="Galaxy S22 Ultra"
    desc="Make nights epic with"
    alt="mopile and air bods"
  >
    <a href="" class="offer">get 10% offer</a>
  </app-best-seller-card>
  <ul>
    @for(bestSellerCard of bestSellerSmallCards; track bestSellerCard.title){
      <li>
        <app-best-seller-card
          [imgSrc]="bestSellerCard.imgSrc"
          [title]="bestSellerCard.title"
          [desc]="bestSellerCard.desc"
        />
      </li>
    }
  </ul>
</section>
}@placeholder{
<p>best seller</p>
} @defer (on viewport){
<section id="new-products">
  <div>
    <h2 class="section-title">New products</h2>
    <ul class="products">
      @for(product of products(); track product.id){
        <li>
          <app-product-card [product]="product" />
        </li>
      }
    </ul>
    <a href="" class="btn-main view-all-btn">view all products</a>
  </div>
</section>
} @placeholder{
<p>new products</p>
} @defer (on viewport){
<app-category-swiper />
}@placeholder{
<p>category swiper</p>
}

<router-outlet />
